  <header>

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Shop App</h1>
              <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, blanditiis quasi nobis ipsum, omnis vel rem hic ipsam ullam quos tempore dolor iure ab animi voluptatibus dolores accusantium recusandae autem.</p>
            </div>
          </div>

   </header>